@font-face {
    font-family: "textFont";
    src: url('AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: 'nrFont';
    src: url("ArchivoBlack.otf");
    font-weight: normal;
    font-style: normal;
}



.standard {
    color: whitesmoke;
}



.prosloVrijeme {
    color: lightgray;
}

td {
    background: linear-gradient(rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.00), darkslategray );
}

.numbers {
    font-family: 'nrFont', Arial, sans-serif;
    filter: drop-shadow(1px 1px 1px green)
}

.vakat {
    text-align: start;
    padding-right: 5px;
    font-size: 1em;
    font-family: 'textFont', Arial, sans-serif;
    filter: drop-shadow(2px 2px 1px  gray)
}

.sat {
    text-align: start;
    padding-left: 2px;
    font-size: 1em;
    padding-right: 5px;
}
